<!DOCTYPE html>
<html>
  <head>
    <title>calorie calculater</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "index_style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <script src=”jquery.js”></script>
    <script src=”garlic.js”></script>

    <script>
      $(function(){
        $(“form”).garlic();
      });
    </script>


    <header>
      <div class = "header-logo">
        <a href="/">calorie calculater</a>
      </div>

      <div class = "header-login">
        <a href="">ログイン</a>
      </div>
    </header>

    <div class = "container">
      <div class = "top-contents">
        <h2>今日の目標摂取カロリー:</h2>
        <!--
        <%= form_with url: users_path, method: :post do |form| %>
          <input type="text" name = "target">
          <input type="submit">
        <% end %>
        --> <!--form_with は createアクションに飛ぶ-->
        <form data-persist=”garlic” class ="target_inputform">
          <input type="text" id = "target"><span class="input_kcal_str">kcal</span>
          <button type="button" onclick="getvalue()">更新</button> <!-- type="submit"フォームの送信 type="button"フォームの送信をしない-->
        </form>

        <h2>今日の残り摂取カロリー:</h2>
        <p id = "goal_achievement" class ="goal_achievement"></p>
        <p id = "remaining_output" class ="remaining_output"></p>

        <script>
          document.getElementById('remaining_output').innerText = 'none.';

          function getvalue(){
            var target = document.getElementById('target').value;
            
            var remaining = target - '<%= @calorie_sum %>';

            if(target == ""){
              document.getElementById('remaining_output').innerText = 'none.';
            }
            else if(remaining > 0){
              document.getElementById('remaining_output').innerText = remaining + " kcal";
            }
            else if(remaining == 0){
              document.getElementById('goal_achievement').innerText = "目標達成！";
              document.getElementById('remaining_output').innerText = remaining + " kcal";
            }
            else if(remaining < 0){
              document.getElementById('goal_achievement').innerText = "目標達成！";
              document.getElementById('remaining_output').innerText = "over " + Math.abs(remaining) + " kcal";
            }
          }
        </script>
      </div> <!--top_contents-->

      <div class = "main_contents">
        <div class = "record_output">
          <h3>今日の記録</h3>
          <% @record.each do |record| %>
            <%= record.dish %>
            <%= record.calorie %>
            <%= link_to "更新", edit_user_path(record) %>
            <%= link_to "詳細", user_path(record) %><br>
          <% end %>
        </div>

        <div class = "new_div">
          <%= link_to "新規登録", new_user_path , {class: "new_link"}%>
        </div>
      </div> <!--main_contents-->
    </div>
    
    <footer>
      <div class="footer-contents">
        <a href="https://github.com/RenAkiba">秋庭蓮のGitHub</a><br>
        <a href="https://qiita.com/RenAkiba">秋庭蓮のQiita</a><br>
      </div>
    </footer>

  </body>
</html>
