<!DOCTYPE html>
<html>
  <head>
    <title>calorie calculater</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "index_style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      calorie calculater
    </header>

    <div class = "container">
      <div class = "top-contents">
        <h3>今日の目標カロリー(kcal):</h3>
        <input type = "number" id = "target">
        <button onclick = "calc()">更新</button>

        <h3>今日の残り摂取カロリー(kcal):</h3>
        <p id = "result"></p>

        <script>>
          function calc(){
            var target = parseFloat(document.getElementeById('target').value);

            var result = target - <%= @calorie_sum %>;

            document.getElementeById('result').innnerText = result;
            alert(result);
          }
        </script>
      </div> <!--top_contents-->

      <div class = "main_contents">
        <%= link_to "新規登録", new_user_path %>

        <h3>今日の記録</h3>
        <% @record.each do |record| %>
          <%= record.dish %>
          <%= record.calorie %>
          <%= link_to "更新", edit_user_path(record) %>
          <%= link_to "詳細", user_path(record) %><br>
        <% end %>
      </div> <!--main_contents-->
    </div>
    
    <footer></footer>

  </body>
</html>
