
<!DOCTYPE html>
<html>
  <head>
    <title>calorie calculater</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class = "header-logo">
        calorie calculater
      </div>
    </header>

    <div class ="new_conteiner container">
      <h1 class ="new_main_content">新規登録</h1>
      <%= form_with model: @record, local: true,  url:{ controller: "users", action: "create" }, local: true do |form| %>
        <% @record.errors.full_messages.each do |message| %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
        <div>
          <%= form.label :"料理名" %><br>
          <%= form.text_field :dish %>
        </div>
        <div>
          <%= form.label :"カロリー(kcal)" %><br>
          <%= form.text_field :calorie %>
        </div>
        <div>
          <%= form.submit :"追加する"%>
        </div>
      <% end %>
    </div>
      

    <footer>
      <div class="footer-contents">
        <a href="https://github.com/RenAkiba">秋庭蓮のGitHub</a><br>
        <a href="https://qiita.com/RenAkiba">秋庭蓮のQiita</a>
      </div>
    </footer>

    <style>
      footer{
        position: fixed;
        top: 700px;
        width: 100%;
      }

      .new_container{
        margin: 0 auto;
      }
      
    </style>
  </body>
</html>
